[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphviz = "*"

[dev-packages]
setuptools = "*"
black = "*"
tox = "*"
mypy = "*"
ruff = "*"

[requires]
python_version = "3.12"

[scripts]
check = "tox -e black,ruff,mypy -p 3"
test = "tox -e py312"
ci = "tox -e black,ruff,mypy,py312 -p 4"
dev = "pip install --editable ."
install = "pip install ."
dist = "python setup.py sdist"
